{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "env": {
        "browser": true,
        "jasmine": true,
        "jest": true,
        "node": true
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": [
                "**/*.tsx"
            ],
            "rules": {
                "react/prop-types": "off"
            }
        }
    ],
    "rules": {
        "max-len": [
            "error",
            {
                "code": 100,
                "tabWidth": 4,
                "ignoreUrls": true
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ],
        "no-tabs": "error",
        "arrow-parens": [
            "warn",
            "as-needed"
        ],
        "no-trailing-spaces": "warn",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": 1,
        "@typescript-eslint/no-inferrable-types": [
            "warn",
            {
                "ignoreParameters": true
            }
        ],
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/no-var-requires": "off"
    }
}