.github
.vscode
common/temp
k8s
design-assets
.vscode
build-images.ps1
docker-compose*.yml
*Dockerfile
*.md
*/node_modules
*/dist
*/build
*/.rush
*/*.build.log
*/*.build.error.log
*/.nyc_output
*/coverage