/*
 * File: /src/styles/App.scss
 * File Created: Thursday, 12th December 2019 8:31:06 pm
 * Author: Alex Chomiak 
 * 
 * Last Modified: Sunday, 5th January 2020 4:43:03 pm
 * Modified By: Alex Chomiak 
 * 
 * Author Github: https://github.com/alexchomiak
 */
body {
    height: 100%;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}
